<section name="view-title">
    <div>活水查经团契</div>
</section>
<section name="view-body">
    <div class="row">
        <figure class="scripture-block p-4 rounded shadow-sm">
            <blockquote class="blockquote lh-lg">
                <p>
                    你們得救是本乎恩，也因著信；這並不是出於自己，乃是上帝所賜的；
                    也不是出於行為，免得有人自誇。
                </p>
                <p>
                    我們原是他的工作，在基督耶穌裡造成的，
                    為要叫我們行善，就是上帝所預備叫我們行的。
                </p>
            </blockquote>
            <figcaption class="blockquote-footer text-muted text-end">
                以弗所書 <cite>2:8–10</cite>
            </figcaption>
        </figure>
        <div>
            <div class="row">
                <div class="col">
            <h6>Jesus Loves Me</h6>
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <a target="_blank" href="https://mygodmylord.github.io/BibleMap/">Bible Maps</a>
                </li>
                <li class="list-group-item border-0">
                    <a target="_blank"
                        href="https://1drv.ms/p/c/1be904c8ab6fb733/IQALNAvy_g19Sbh10PCacFM7AQp5Ez-g-NeK7IgeTTab_HI?e=8BGAVs">Bible
                        Places</a>
                </li>
                <ul>
                </div>
            <div class="col">
                <ul class="list-group">
                <li class="list-group-item border-0">
                    <a target="_blank"
                        href="https://sermonwriterapi.logos.com/v1/documents/5e31e901994f445693d7533f7d0c9152/present?culture=en-US&theme=dark">
                        Sermon of the week</a>
                </li>                
                <li class="list-group-item border-0">
                    <a target="_blank"
                        href="https://1drv.ms/p/c/1be904c8ab6fb733/IQAG0Kt2H9DqTr_tAhGrEJbTAT9XKaWe08YWL5tLB0GYzRI?e=9uJxxS">
                        Sermon ppt</a>
                </li>
                <li class="list-group-item border-0">
                    <a target="_blank"
                        href="https://1drv.ms/w/c/1be904c8ab6fb733/IQARXOdqlEiARrsjUndMwcc8AX92r-HemqCL-QVO8I2UJCI?e=V41GKZ">
                        Sermon draft</a>
                </li>
            </ul>
                </div>
        </div>
    </div>
</section>